<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="="utf-8/>
    <title>Cursos</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    {% include 'Header_Cursos.html' %}

    <div class="container">
        <h1 align="center">Student Practice Tracker</h1> 
        <div class="page-header">
            <div class="jumbotron">
                <h1 align="center" class="display-4">Curso Agregado</h1>
            </div>
        </div>

        <div align="center">
            <hr class="my-4">
            <a href="/cursos" class="btn btn-primary btn-lg" align="center">Cursos</a>
        </div>
    </div>
</body>
</html>
