<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="="utf-8/>
        <title>Agregar Maestros</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <div class="container">
        <h3 align="center">Agrega un Maestro</h3>
    <form method="POST" action="">  
    ID <input type="text" class="form-control" name="id" />
    <br>
    Nombre <input type="text" class="form-control" name="nombre" />
    <br>
    Apellido <input type="text" class="form-control" name="apellido" />
    <br>
    Especializacion <input type="text" class="form-control" name="especializacion" />
    <br>
    Código de Curso <input type="text" class="form-control" name="curso" />
    <br>
    <button type="submit" class = "btn btn-danger" role = "button">Agregar</button>
	</form>
	</div>

</html>