<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="="utf-8/>
  <title>Manejo de Datos</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="btn-group btn-group-sm" role="group" aria-label="...">
    <input type="button" class="btn btn-primary btn-sm" value="BACK" onclick="history.back(-1)" />
    <a href="http://167.99.225.139" class="btn btn-primary btn-sm">HOME</a>
  </div>
  <div class="jumbotron jumbotron-fluid">
   <div class="container">
    <div class="page-header">
     <h1 align="center">Student Practice Tracker</h1> 
     <h3 align="center"> MAESTROS </h3>
     <div class="jumbotron" align="center">
       <p class="lead">
        <hr class="my-4">
        <a href="/buscarmaestro" class="btn btn-primary btn-lg">Buscar<span class="glyphicon glyphicon-apple"></span></a>
        <br />
        <hr class="my-4">
        <a href="/MostrarMaestros" class="btn btn-primary btn-lg">Mostrar Todos<span class="glyphicon glyphicon-apple"></span></a>
        <br />
        <hr class="my-4">
        <a href="/actualizarmaestro" class="btn btn-primary btn-lg">Actualizar<span class="glyphicon glyphicon-apple"></span></a>
        <br />
        <hr class="my-4">
        <a href="/AgregarMaestro" class="btn btn-primary btn-lg">Agregar<span class="glyphicon glyphicon-pencil"></span></a>
        <br />
        <hr class="my-4">
        <a href="/RemoverMaestro" class="btn btn-primary btn-lg">Remover<span class="glyphicon glyphicon-apple"></span></a>
        <br />
      </p>
    </div>
  </div>
</div>
</div>
</body>
</html>
