<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="="utf-8/>
        <title>Estudiantes</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    
<style type="text/css">

  .active {
      background-color: #eee !important;
  }
</style>
<body>
  <ul class="nav nav-tabs">

      <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
          <a class="nav-link active" href="/ManejarEstudiantes">Estudiantes</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/ManejarMaestros">Maestros</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" href="/cursos">Cursos</a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
          </div>
      </li>
  </ul>
</body>

</html>
