<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="="utf-8/>
        <title>Testing Styling</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
	<body>
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <input type="button" class="btn btn-primary btn-sm" value="BACK" onclick="history.back(-1)" />
        <a href="http://167.99.225.139" class="btn btn-primary btn-sm">HOME</a>
      </div>
      <div class="jumbotron jumbotron-fluid">
    	<div class="container">
            <h1 align="center">Student Practice Tracker</h1>
    		<div class="page-header">
    			<h3 align="center"> Estudiantes Matriculados </h3>
    		</div>
    	</div>
    </div>
    </body>
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<td colspan="4"> ID </td>
				<td> Nombre </td>
        		<td> Apellido </td>
        		<td> Horas Acumuladas </td>
        		<td> Año </td>
        		<td> Curso </td>
			</tr>
		</thead>
		<tbody>
		{% for user in StudentDetails %}
		<thead>
			<tr>
				<td colspan="4"> {{user[0]}} </td>
				<td> {{user[1]}} </td>
		        <td> {{user[2]}} </td>
       			<td> {{user[3]}} </td>
        		<td> {{user[4]}} </td>
        		<td> {{user[5]}} </td>
			</tr>
		</thead>
		<tbody>
		{% endfor %}
	</table>
</html>
