<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="="utf-8/>
        <title>Reroute</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
    	<div class="container">
    		<div class="page-header">
          <h1 align="center">You were redirected here</h1>
    			<div class="jumbotron">
 					<h1 class="display-4">JR Systems</h1>
  					<p class="lead">This welcome page is under development</p>
  					<hr class="my-4">
  					<p>Data Bases</p>
  					<p class="lead">
    					<a class="btn btn-primary btn-lg" href="http://167.99.225.139/" role="button">Go to HomePage</a>
  					</p>
				  </div>
    		</div>
    	</div>
    </body>
</html>
