<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="="utf-8/>
        <title>Remover Estudiantes</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <div class="container">
        <h3 align="center">Remueve un Estudiante</h3>
    <form method="POST" action="">  
    ID <input type="text" class="form-control" name="id" />
    <br>
    <button type="submit" class = "btn btn-danger" role = "button">Remover</button>
	</form>
	</div>

</html>