<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="="utf-8/>
        <title>Testing Styling</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
    	<div class="container">
    		<div class="page-header"> 
    			<h1> ¡¡Hello World!! </h1>
    			<div class="jumbotron">
 					<h1 class="display-4">JR Systems</h1>
  					<p class="lead">This route is being used for testing bootstrap</p>
  					<hr class="my-4">
  					<p>Data Bases</p>
  					<p class="lead">
    					<a class="btn btn-primary btn-lg" href="#" role="button">It's a Button</a>
  					</p>
				</div>
    		</div>
    	</div>
    	<div class="jumbotron jumbotron-fluid">
  			<div class="container">
    			<h1 class="display-4">Data Base Systems class project.</h1>
  			</div>
		</div>
		<div class="jumbotron jumbotron-fluid">
  			<div class="container">
    			<h1 class="display-4">Credits</h1>
   				<p class="lead">Developed by: Jose Fuentes and Roberto Rivera</p>
  			</div>
		</div>
    </body>
</html>
